@import '~@angular/material/theming';
@import "~jsoneditor/dist/jsoneditor.min.css";

@include mat-core();

$standard-primary: mat-palette($mat-blue, 500);
$standard-accent:  mat-palette($mat-amber, A200, A100, A400);
$standard-warn:    mat-palette($mat-red, 500);
$standard-theme: mat-light-theme($standard-primary, $standard-accent, $standard-warn);

@include angular-material-theme($standard-theme);

html {
  height: 100%;
}

body {
  font-family: 'Arial';
  height: 100%;
  margin: 0 !important;
}

// Tab overrides
mat-tab-group {
  height: 100% !important;
}

mat-tab-header {
  border-bottom: none !important;
  margin-left: 50px;
  flex-grow: 0 !important;
}

.mat-tab-label {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-tab-label:hover {
  opacity: 1;
}

.mat-tab-list::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.mat-tab-label-active {
  border-bottom: none;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  height: 1px;
  /*background-color: #FAFAFA;*/
  transition: none;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

// Button overrides
.mat-raised-button {
  border-radius: 0 !important;
}

// Card overrides
.mat-card {
  border-radius: 0 !important;
}

// Sidenav overrides
mat-drawer {
  width: 200px;
}

// JSON pretty stuff
.string { color: #2196F3; }
.number { color: #FB8C00; }
.boolean { color: #673AB7; }
.null { color: #009688; }
.key { color: #F44336; }

/* remove scrollbar space */
/* optional: just make scrollbar invisible */
::-webkit-scrollbar {
  width: 3px; /* was 0 */
  background: transparent;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #2196F3;
}
