<div>
  <div id="add-button">
    <button mat-icon-button (click)="addTab()">
      <mat-icon aria-label="Add tab">add</mat-icon>
    </button>
  </div>
  <mat-tab-group id="tabs" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab *ngFor="let tab of tabs; let index = index">
      <ng-template mat-tab-label>
        {{tab.label}}
        <mat-icon aria-label="Add tab" id="remove-tab" (click)="removeTab($event)">
          clear
        </mat-icon>
      </ng-template>
      {{ tab.topic }}
    </mat-tab>
    <!--<mat-tab label="Add" disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button>
          <mat-icon aria-label="Add tab" id="add-button">add</mat-icon>
        </button>
      </ng-template>
    </mat-tab>-->
  </mat-tab-group>
</div>
