<mat-drawer-container id="container">
  <mat-drawer #sidenav id="sidenav" mode="side" [(opened)]="opened">
    <div id="sidenav-header">OpenFin Channels</div>
    <button
        mat-raised-button
        color="primary"
        id="channel-init"
        *ngIf="channels.length === 0"
        (click)="addChannel($event)">
      Add channel
    </button>
    <mat-list *ngIf="channels.length > 0">
      <mat-list-item
          class="channel-item"
          [ngClass]="{ 'channel-item-active' : channel.runtime === activeChannel, 'channel-item-disabled' : !channel.hasOwnProperty('version') }"
          (click)="setActive(channel.runtime)"
          *ngFor="let channel of channels; let index = index">
        <mat-icon
            aria-label="Connection"
            class="channel-status"
            [ngClass]="channel.version ? 'channel-status-connected' : 'channel-status-connecting'">
          import_export
        </mat-icon>
        <span class="channel-item-content">{{ channel.runtime }}</span>
        <mat-icon
            aria-label="Remove channel"
            class="remove-channel"
            matTooltip="remove channel"
            (click)="removeChannel($event, index)">
          clear
        </mat-icon>
      </mat-list-item>
    </mat-list>
    <button
        mat-icon-button
        id="remove-all-channels"
        matTooltip="remove all"
        *ngIf="channels.length > 0"
        (click)="removeAllChannels()">
      <mat-icon aria-label="Remove all channels">delete_sweep</mat-icon>
    </button>
    <button
        mat-icon-button
        id="add-channel"
        matTooltip="add channel"
        *ngIf="channels.length > 0"
        (click)="addChannel($event)">
      <mat-icon aria-label="Add channel">add</mat-icon>
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <button mat-stroked-button id="drawer-toggle" (click)=sidenav.toggle()>
      <mat-icon aria-label="Expand drawer" *ngIf="!opened">keyboard_arrow_right</mat-icon>
      <mat-icon aria-label="Collapse drawer" *ngIf="opened">keyboard_arrow_left</mat-icon>
    </button>
    <app-tabs-container [chosenRuntime]="activeChannel" (modified)="tabsModified($event)"></app-tabs-container>
  </mat-drawer-content>
</mat-drawer-container>
