#container {
  height: 100%;
}

#sidenav {
  /*padding-left: 10px;
  padding-right: 10px;*/
}

#drawer-toggle {
  position: absolute;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 !important;
  min-width: 0 !important;
  width: 32px !important;
  border-radius: 0 !important;
  margin-left: -1px;
  z-index: 30;
}

#add-channel {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#add-channel:hover {
  cursor: pointer;
}

.remove-channel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  font-size: 14px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  visibility: hidden;
}

.remove-channel:hover {
  cursor: pointer;
  background: rgba(256, 0, 0, 0.50);
  color: rgba(0, 0, 0, 0.87);
}

.channel-item-active {
  color: #2196f3;
}

.channel-item-disabled {
  color: rgba(0, 0, 0, 0.50) !important;
}

.channel-item-disabled:hover {
  cursor: progress !important;
}

.channel-item:hover {
  cursor: pointer;
  color: #2196f3;
}

.channel-item:hover .remove-channel {
  color: rgba(0, 0, 0, 0.87);
  visibility: visible;
}

.channel-item-disabled:hover .remove-channel {
  visibility: hidden !important;
}

.channel-status {
  margin-right: 5px;
}

.channel-status-connected {
  color: #4CAF50;
}

.channel-status-connecting {
  color: #F44336;
}
