<mat-drawer-container id="container">
  <mat-drawer #sidenav id="sidenav" mode="side" [(opened)]="opened">
    <mat-list>
      <h3 mat-subheader>OpenFin Versions</h3>
      <mat-list-item
          class="version-item"
          [ngClass]="{ 'version-item-active' : version.name === activeVersion }"
          (click)="setActive(version.name)"
          *ngFor="let version of versions; let index = index">
        {{ version.name }}
        <mat-icon
            aria-label="Remove version"
            id="remove-version"
            (click)="removeVersion($event, index)">
          clear
        </mat-icon>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button id="add-version" (click)="addVersion($event)">
      <mat-icon aria-label="Add version">
        add
      </mat-icon>
    </button>

  </mat-drawer>

  <mat-drawer-content>
    <button mat-stroked-button id="drawer-toggle" (click)=sidenav.toggle()>
      <mat-icon aria-label="Expand drawer" *ngIf="!opened">keyboard_arrow_right</mat-icon>
      <mat-icon aria-label="Collapse drawer" *ngIf="opened">keyboard_arrow_left</mat-icon>
    </button>
    <app-tabs-container></app-tabs-container>
  </mat-drawer-content>
</mat-drawer-container>
